<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="assets/images/movie-covers/{{ movie.img }}" alt="{{ movie.key }}">
    </div>
    <div class="col-md-6" style="display: table-cell;">
      <h1 id="movie-name">{{ movie.name }}</h1>
      <p id="movie-desc">{{ movie.description }}</p>
      <span class="badge badge-dark" *ngFor="let genre of movie.genres">{{ genre | uppercase }}</span>
      <p id="movie-length">
        <strong>Duration:</strong> {{ movie.length }}</p>

      <p id="movie-rating">{{ movie.rate }}
        <span style="font-size: 1rem;">/ 10</span>
      </p>
      <button class="btn btn-primary" routerLink="/movies">Back</button>
    </div>
  </div>
</div>