// Font Import
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

// Font Short-Hand
$poppins: 'Poppins', sans-serif;

// Colour Variables
$puerto-rico: #4ecca3; // Accent Green
$solitude: #f4f5f8; // Nav Bar & Genre Link
$bunker: #232931; // Mov.io Logo
$ghost-white: #f7f7fb; // Search Box Background
$cloud-burst: #393e46; // Genre Bar Colour
$paynes-grey: #3f4047; // Movie Item Name
$manatee: #9699a2; // Movie Item Year
$nobel: #9e9e9e; // Movie-Detail Genre Colour

// Image Variables
$cover-height: 310px; // Movie-Image Height
$cover-width: 182px; // Movie-Image Width