@import '../_utils.scss';
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  font-family: $poppins;
}

.movie-list-wrapper,
.nav-controls,
.genre-dropdown {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.genre-item {
  margin: 0 5px;
}

.topbar {
  background: $solitude;
  .search-field {
    border-radius: 30px;
    box-shadow: 0 1px 15px 1px rgba(81, 77, 92, 0.08);
    background-color: $ghost-white;
    font-size: 13px;
    padding-left: 20px;
    &:focus {
      border-color: $puerto-rico;
    }
  }
  nav {
    padding: 0.6rem 1rem;
    .navbar-brand {
      font-weight: 700;
      font-size: 24px;
      color: $bunker;
      transition-duration: 300ms;
      &:hover {
        opacity: 0.5;
        transition-duration: 300ms;
      }
    }
  }
}

.navigation {
  background: $cloud-burst;
  font-family: $poppins;
  font-size: 14px;
  padding: 15px;
  .row {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  a {
    color: $solitude;
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    transition-duration: 300ms;
    &:hover {
      opacity: 0.75;
      transition-duration: 300ms;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

#movies-section {
  margin-top: 15px;
  h1 {
    margin: 10px auto 0px;
    font-weight: 400;
    font-size: 33px;
  }
}

button.navigation {
  padding: .75rem 2rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border-radius: 60px;
  box-shadow: 0 5px 10px 2px rgba(78, 204, 163, 0.19) !important;
  background: #4ecca3;
  border: #4ecca3;
  opacity: 1;
  transition: opacity 300ms !important;
  width: 90%;
  margin: 10px 5%;
  display: none;
}

@media only screen and (max-width: 991px) {
  button.navigation {
    display: flex;
    width: auto;
    margin: 20px auto 0;
  }
  #movies-section {
    margin-top: 0;
    h1 {
      margin: 25px auto 0px;
    }
  }
  .navigation {
    background: white;
    a {
      width: 100%;
      margin: 0;
      padding: 7px 0;
      border-bottom: 1px solid $solitude;
      color: $bunker;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 355px) {
  .navbar {
    justify-content: center !important;
    -webkit-justify-content: center !important;
  }
}

.genre-display {
  display: inline-block;
}

.genre-no-display {
  display: none;
}
