@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

html {
  font-family: 'Source Sans Pro', sans-serif;
}
.figure {
  height: 310px;
  width: 182px;
  margin: 25px;
}

.image-wrapper {
  cursor: pointer;
}

.movie-name,
.movie.rate,
.movie-year {
  color: black;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
}
.movie-name {
  color: #3f4047;
  font-size: 14px;
  line-height: 20px;
}
.movie-rate-hold {
    padding-left: 0;

  .movie-rate {
    font-weight: 700;
    color: #5867dd;
    margin: 0;
  }
}
.movie-year {
  font-size: 0.75rem;
  color: #9699a2;
}

.image-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.centered-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  i {
    font-size: 35px;
  }
}
