@import '../../_utils.scss';

html {
  font-family: $poppins;
}

.figure {
  height: $cover-height;
  width: $cover-width;
  margin: 25px;
}

.image-wrapper {
  cursor: pointer;
}

.movie-name,
.movie.rate,
.movie-year {
  color: black;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
}

.movie-name {
  color: $paynes-grey;
  font-size: 14px;
  line-height: 20px;
}

.movie-rate-hold {
  padding-left: 0;
  .movie-rate {
    font-weight: 400;
    color: $puerto-rico;
    margin: 0;
    font-size: 1.5rem
  }
}

.movie-year {
  font-size: 0.75rem;
  color: $manatee;
}
