<figure class="figure" (mouseenter)="onHoverMovie()" (mouseleave)="onHoverMovie()">
  <div class="image-wrapper">
    <img [@divState]="state" (click)="onSelectMovie()" src="assets/images/movie-covers/{{ movie.img }}" class="figure-img img-fluid rounded"
      alt="{{ movie.key }}">
  </div>
  <div class="row">
    <div class="col-9">
      <p class="movie-name">{{ movie.name }}</p>
      <p class="movie-year">{{ movie.year }}</p>
    </div>
<div class="col text-right movie-rate-hold">
      <p class="movie-rate">{{ movie.rate }}</p>
    </div>
  </div>
</figure>
