@import '../_utils.scss';
body {
  position: relative;
}

.container-fluid {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-family: $poppins;
  .landing-lead {
    font-weight: 700;
    font-size: 100px;
  }
  .landing-secondary {
    font-weight: 400;
  }
  .back-button {
    padding: .75rem 2rem;
    color: $solitude;
    font-size: 1rem;
    font-weight: 400;
    font-family: $poppins;
    border-radius: 60px;
    box-shadow: 0 5px 10px 2px rgba(78, 204, 163, .19) !important;
    background: $puerto-rico;
    border: $puerto-rico;
    opacity: 1;
    transition: opacity 300ms !important;
    &:hover {
      opacity: 0.5;
    }
  }
}
