@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');
body {
  position: relative;
}

.container-fluid {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;
  .landing-lead {
    font-weight: 700;
    font-size: 100px;
  }
  .landing-secondary {
    font-weight: 400;
  }
  .landing-button {
    padding: .75rem 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: Poppins;
    border-radius: 60px;
    box-shadow: 0 5px 10px 2px rgba(88, 103, 221, .19) !important;
    background: rgb(88, 103, 221);
    border: rgb(88, 103, 221);
  }
}
